<% include header.ejs%>

<% include menu.ejs%>

<div class="ui container">
    <h1>About</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor ex excepturi exercitationem expedita harum hic impedit laudantium, magnam magni molestias nulla odio possimus quibusdam saepe tenetur, unde vel? Inventore?
    </p>
</div>


<% include footer.ejs%>