<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
    <link rel="stylesheet" href="/assets/Semantic/semantic.min.css">
    <link rel="stylesheet" href="/assets/app.css">
    <title><% title %></title>
</head>
<body>
<div style="margin-top:8px;" class="ui raised very padded text container segment center aligned">
    <div>
        <h2>Oooppsss!!! Something wrong..</h2>
    </div>
</div>
<div style="margin-top:8px;" class="ui raised very padded text container segment">
    <div class="ui equal width center aligned padded grid">
        <div class="row">
            <div class="column">
                <a href="/login"><i class="icon key"></i>Login</a>
            </div>
        </div>
    </div>
</div>
<script src="/assets/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
<!--<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>-->

</body>

