 <script src="https://code.jquery.com/jquery-3.1.1.min.js"
 integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
 crossorigin="anonymous"></script>
 <!--<script src="/assets/jquery-3.1.1.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
 <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>-->
 <!--<script src="/assets/semantic/semantic.min.js"></script> -->
 <script src="/assets/tab.js"></script>
 <script src="/assets/toastr.min.js"></script>
 <%- req.toastr.render() %>
</body>
</html>