<!--
<div style="margin-top:8px;" class="ui raised very padded text container segment">
    <div class="ui equal width center aligned padded grid">
        <div class="row">
            <div class="column">
                <a href="/"><i class="icon home"></i>Home</a>
            </div>
            <div class="column">
                <a href="/login"><i class="icon key"></i>Login</a>
            </div>
            <div class="column">
                <a href="#"><i class="info circle icon"></i>About</a>
            </div>
        </div>
    </div>-->


    <div class="ui three item menu">
        <a class="item" href="/index"><i class="icon home"></i>Home | Bienvenue <%= pseudo %> </a>
        <a class="item" href="/logout"><i class="icon logout">Logout</i></a>
        <a class="item"  href="/about"><i class="info circle icon"></i>About</a>
        <!--<div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>-->
    </div>
